.metadata/
target/
derby.log
.classpath
.project
.settings/
.svn/
.DS_Store
kaleido-wiki/
kaleido-mail/
kaleido-messaging/
kaleido-miscellaneous/
kaleido-model/
kaleido-persistence/
kaleido-report/
kaleido-rules/
kaleido-web/
