<?xml version="1.0"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!--  Console (Info Warning) -->
	<appender name="stdinfoAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<!--
				<param name="ConversionPattern" value="%d{yyyy-MM-dd_hh:mm:ss} [%t]
				[%-5p] %m %n"/>
			-->
			<param name="ConversionPattern" value="%m %n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="AcceptOnMatch" value="true" />
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="WARN" />
		</filter>
	</appender>

	<!--  Console (Erreur et fatale seule) -->
	<appender name="stderrAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err" />
		<param name="Threshold" value="ERROR" />
		<layout class="org.apache.log4j.PatternLayout">
			<!--
				<param name="ConversionPattern" value="%d{yyyy-MM-dd_hh:mm:ss} [%t]
				[%-5p] [%-30.48c{1}] - %m - [%l] %n"/>
			-->
			<param name="ConversionPattern" value="%m %n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="AcceptOnMatch" value="true" />
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>

	<!--  Console (Debug et Trace) -->
	<appender name="stddebugAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m %n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="AcceptOnMatch" value="true" />
			<param name="LevelMax" value="DEBUG" />
		</filter>
	</appender>

	<!-- ********************* -->
	<!-- Logger     -->
	<!-- ********************* -->

	<!-- ********************* -->
	<!-- Apache  Logger      -->
	<logger name="org.apache" additivity="true">
		<level value="INFO" />
	</logger>

	<logger name="org.kaleidofoundry.core" additivity="true">
		<level value="DEBUG" />
	</logger>

	<logger name="org.kaleidofoundry.core.i18n.MessageBundleControl" additivity="true">
		<level value="INFO" />
	</logger>
	
	<logger name="org.kaleidofoundry.core.lang.aop.NotNullAspect" additivity="true">
		<level value="INFO" />
	</logger>
	
	<!-- ********************* -->
	<!-- Root       Logger     -->
	<!-- ********************* -->
	<root>
		<level value="INFO" />

		<appender-ref ref="stdinfoAppender" />
		<appender-ref ref="stderrAppender" />
		<appender-ref ref="stddebugAppender" />

	</root>

</log4j:configuration>