<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
    ">
	
	<context:component-scan base-package="org.kaleidofoundry.spring.context"/>
	
	<!-- if component scan is not enable , declare this 
	<bean class="org.kaleidofoundry.spring.context.BeanContextPostProcessor" name="kaleidoPostProcessor"/>	
 	-->

	<bean id="mySpringContext" class="org.kaleidofoundry.core.context.RuntimeContext">
		<constructor-arg type="java.lang.String" value="mySpringContext" />
		<constructor-arg type="java.lang.Class" value="org.kaleidofoundry.core.store.FileStore" />
		<constructor-arg type="java.util.concurrent.ConcurrentMap">
			<util:map map-class="java.util.concurrent.ConcurrentHashMap">
				<entry key="baseUri" value="classpath:/store" />
			</util:map>
		</constructor-arg>
		<constructor-arg type="org.kaleidofoundry.core.config.Configuration[]">
			<null />
		</constructor-arg>
	</bean> 	
</beans>