<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
    ">
	
	<context:component-scan base-package="org.kaleidofoundry.core"/>
		
	<bean id="myStore" class="org.kaleidofoundry.core.store.ClasspathFileStore">
		<constructor-arg>
			<bean class="org.kaleidofoundry.core.context.RuntimeContext">
				<constructor-arg type="java.lang.String" value="myStoreCtx"/>
				<constructor-arg type="java.lang.Class" value="org.kaleidofoundry.core.store.FileStore"/>
				<constructor-arg type="java.util.concurrent.ConcurrentMap" >
					<util:map map-class="java.util.concurrent.ConcurrentHashMap">
						<entry key="baseUri" value="classpath:/store" />
					</util:map>
				</constructor-arg>
				<constructor-arg type="org.kaleidofoundry.core.config.Configuration[]"><null/></constructor-arg>
			</bean>
		</constructor-arg>
	</bean>
	
	<bean id="myConfig" class="org.kaleidofoundry.core.config.PropertiesConfiguration" init-method="load">		
		<constructor-arg>		
			<bean class="org.kaleidofoundry.core.context.RuntimeContext">
				<constructor-arg type="java.lang.String" value="myConfigCtx"/>
				<constructor-arg type="java.lang.Class" value="org.kaleidofoundry.core.config.Configuration"/>
				<constructor-arg type="java.util.concurrent.ConcurrentMap" >
					<util:map map-class="java.util.concurrent.ConcurrentHashMap">
						<entry key="name" value="myConfig" />
						<entry key="fileStoreUri" value="classpath:/config/myConfig.properties" />
					</util:map>
				</constructor-arg>				
				<constructor-arg type="org.kaleidofoundry.core.config.Configuration[]"><null/></constructor-arg>
			</bean>
		</constructor-arg>
	</bean>
	
	<bean id="myCacheManager" class="org.kaleidofoundry.core.cache.EhCache1xManagerImpl">		
		<constructor-arg>		
			<bean class="org.kaleidofoundry.core.context.RuntimeContext">
				<constructor-arg type="java.lang.String" value="myCacheManagerCtx"/>
				<constructor-arg type="java.lang.Class" value="org.kaleidofoundry.core.cache.CacheManager"/>				
				<constructor-arg type="java.util.concurrent.ConcurrentMap" >
					<util:map map-class="java.util.concurrent.ConcurrentHashMap">
						<entry key="fileStoreUri" value="classpath:/cache/ehcache.xml" />
					</util:map>
				</constructor-arg>
				<constructor-arg type="org.kaleidofoundry.core.config.Configuration[]"><null/></constructor-arg>
			</bean>
		</constructor-arg>
	</bean>

	<bean id="myCache" class="org.kaleidofoundry.core.cache.EhCache1xImpl">
		<constructor-arg value="CacheSample01"/>
		<constructor-arg ref="myCacheManager"/>		
	</bean>

	<bean id="myOtherCacheManager" class="org.kaleidofoundry.core.cache.Infinispan4xCacheManagerImpl">		
		<constructor-arg>		
			<bean class="org.kaleidofoundry.core.context.RuntimeContext">
				<constructor-arg type="java.lang.String" value="myOtherCacheManagerCtx"/>
				<constructor-arg type="java.lang.Class" value="org.kaleidofoundry.core.cache.CacheManager"/>				
				<constructor-arg type="java.util.concurrent.ConcurrentMap" >
					<util:map map-class="java.util.concurrent.ConcurrentHashMap">
						<entry key="fileStoreUri" value="classpath:/cache/infinispan-local.xml" />
					</util:map>
				</constructor-arg>
				<constructor-arg type="org.kaleidofoundry.core.config.Configuration[]"><null/></constructor-arg>
			</bean>
		</constructor-arg>
	</bean>
	
	<bean id="myOtherCache" class="org.kaleidofoundry.core.cache.Infinispan4xCacheImpl">
		<constructor-arg value="OtherCacheSample01"/>
		<constructor-arg ref="myOtherCacheManager"/>		
		<constructor-arg>					
			<bean class="org.kaleidofoundry.core.context.RuntimeContext">
				<constructor-arg type="java.lang.String" value="myOtherCacheCtx"/>
				<constructor-arg type="java.lang.Class" value="org.kaleidofoundry.core.cache.Cache"/>				
				<constructor-arg type="java.util.concurrent.ConcurrentMap" >
					<util:map map-class="java.util.concurrent.ConcurrentHashMap">
					</util:map>
				</constructor-arg>
				<constructor-arg type="org.kaleidofoundry.core.config.Configuration[]"><null/></constructor-arg>
			</bean>
		</constructor-arg>
	</bean>		
	 		 
	<bean id="myNamingService" class="org.kaleidofoundry.core.naming.JndiNamingService">		
		<constructor-arg>		
			<bean class="org.kaleidofoundry.core.context.RuntimeContext">
				<constructor-arg type="java.lang.String" value="myNamingCtx"/>
				<constructor-arg type="java.lang.Class" value="org.kaleidofoundry.core.naming.NamingService"/>				
				<constructor-arg type="java.util.concurrent.ConcurrentMap" >
					<util:map map-class="java.util.concurrent.ConcurrentHashMap">
						<entry key="java.naming.factory.initial" value="com.sun.enterprise.naming.SerialInitContextFactory" />
						<entry key="java.naming.factory.url.pkgs" value="com.sun.enterprise.naming" />
						<entry key="java.naming.factory.state" value="com.sun.corba.ee.impl.presentation.rmi.JNDIStateFactoryImpl" />
						<entry key="org.omg.CORBA.ORBInitialHost" value="127.0.0.1" />
						<entry key="org.omg.CORBA.ORBInitialPort" value="3700" />
					</util:map>
				</constructor-arg>
				<constructor-arg type="org.kaleidofoundry.core.config.Configuration[]"><null/></constructor-arg>
			</bean>
		</constructor-arg>
	</bean>	 
</beans>