<div ng-controller="ConfigurationListCtrl">
          
          <!-- Configuration listing -->         
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Resource</th>
                  <th>Loaded</th>
                  <th>Storeable</th>
                  <th>Updateable</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="config in configurations">
                  <td>{{config.order}}</td>
                  <td><a ng-href="/configurations/{{config.name}}">{{config.name}}</a></td>
                  <td>{{config.uri}}</td>
                  <td>{{config.loaded}}</td>                  
                  <td>{{config.updateable}}</td>
                  <td>{{config.storeable}}</td>
                </tr>
              </tbody>
            </table>
            <div class="pagination">
              <ul class="pager"><li><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li></ul>
            </div>            
          </div> 
</div>
