<div ng-controller="ConfigurationDetailCtrl">

	<div>
		<h2>Configuration <code>{{config.name}}</code></h2>
		<hr/>

		<form>
	        <label>Name: <input ng-model="config.name"/></label><br/>
	        <label>Resource: <input ng-model="config.uri"/></label><br/>
	        <label>Loaded: <input ng-model="config.loaded" type="checkbox"  readonly="true"/></label><br/>
	        <label>Storeable: <input ng-model="config.storeable" type="checkbox" readonly="true"/></label><br/>
	        <label>Updateable: <input ng-model="config.updateable" type="checkbox" readonly="true"/></label><br/>
		</form>

        <h2>Properties</h2> 
        <hr/>    


	</div>
</div>